$white: #fff;
$yellow: #ff0;
$gray: #d1d1d1;
$dark-blue: #708090;
$black: #000;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;

  @media (max-width: 1023px) {
    @supports (-webkit-appearance:none) {
      &.touch {
        max-height: calc(100vh - 56px);
        overflow: hidden;
      }
    }
  }
}

body {
  height: 100%;
  font: 1.4rem/1.15 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;

  @media (max-width: 1023px) {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    @supports (-webkit-appearance:none) {
      .touch & {
        max-height: calc(100vh - 56px);
      }
    }
  }
  @media (min-width: 1024px) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a:focus,
a:active,
a:hover {
  outline: 0;
}

ul {
  list-style: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  border: .1rem solid #6b6b6b;
  background-color: #252525;

  @media (min-width: 1024px) {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    width: 96rem;
    height: 57.9rem;
  }
}

.map {
  display: flex;
  flex-flow: row wrap;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 57.9rem;
  padding: 0 0 1px 1px;
  transform: translateX(-50%) translateY(-50%);

  @media (min-width: 1024px) {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    width: calc(60% + 3px);
  }
}

.map-item {
  width: 3.5rem;
  height: 3.5rem;
  margin: 1px 1px 0 0;
  border: .1rem solid #373737;
  border-radius: .2rem;
}

.links {
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  color: $gray;

  a {
    color: $gray;
    text-decoration: none;
  }

  img {
    vertical-align: bottom;
  }
}

.passage {
  border-color: $dark-blue;
  background-color: $dark-blue;
}

.workplace {
  border-color: $dark-blue;
  background: url('../img/persons.png') 0 0 no-repeat $dark-blue;
}

.angel {
  position: absolute;
  width: 5.1rem;
  height: 5.1rem;
  border-radius: 50%;
  box-shadow: 0 0 2rem 1rem $white, 0 0 5rem 2.5rem $yellow;
  background: url('../img/kenny-angel.png') center center no-repeat $white;
  background-size: contain;
  transform: scale(0) translateY(0);
  will-change: transform;

  &.show {
    animation: angel 5s linear;
    z-index: 100;
  }
}

.person {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  border: .1rem solid $dark-blue;
  border-radius: .2rem;
}

.manager {
  background: url('../img/persons.png') -29.7rem 0 no-repeat $dark-blue;
  border-color: #ffd700;
}

.employee {
  background-image: url('../img/persons.png');

  &.dead {
    background-position: -33rem 0 !important;
    animation: explode 1s linear;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  border: .1rem solid $black;
  border-radius: 2px;
  background: linear-gradient(to bottom, rgba(149, 149, 149, 1) 0%, rgba(13, 13, 13, 1) 46%, rgba(1, 1, 1, 1) 50%, rgba(10, 10, 10, 1) 53%, rgba(78, 78, 78, 1) 76%, rgba(56, 56, 56, 1) 87%, rgba(27, 27, 27, 1) 100%);
  transform: translateX(0);
  transition: transform .3s ease 0s;

  &.hidden {
    transform: translateX(100%);
  }

  @media (max-width: 1023px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 100vw;
    height: 100vh;
    overflow-y: scroll;

    @supports (-webkit-appearance:none) {
      .touch & {
        max-height: calc(100vh - 56px);
      }
    }
  }

  @media (min-width: 1024px) {
    width: calc(40% - 3px);
    height: 100%;
  }

  h1 {
    padding: 1.8rem 0;
    border-bottom: .1rem solid $black;
    text-align: center;
    text-shadow: 1px 1px 0 #999;
    box-shadow: 0 1px 0 #9b9b9b;
  }

  p {
    padding: 1.8rem .5rem 1.8rem 1.5rem;
    color: $gray;
    font-size: 1.8rem;
  }

  strong {
    color: #44BF3E;
    font-size: 2rem;
    text-shadow: 1px 1px 0 $black;

    em {
      font-size: 1.8rem;
      text-shadow: none;
    }
  }

  &-content {
    flex: 1;
  }

  &-footer {
    padding: 0 1.6rem;
    color: $gray;

    & p {
      font-size: 1.9rem;
    }

    & q {
      font-size: 2rem;
      quotes: "\201C""\201D""\2018""\2019";
      padding: 1rem 2rem;
      line-height: 1.4;

      &:before {
        content: open-quote;
        position: relative;
        left: -1rem;
        top: .5rem;
        font-size: 2.4rem;
        line-height: 0;
      }

      &:after {
        content: close-quote;
        position: relative;
        left: 1rem;
        top: .5rem;
        font-size: 1.5em;
        line-height: 0;
      }
    }
  }
}

@keyframes explode {
  0% {
    background-color: $white;
  }

  25% {
    background-color: $yellow;
  }

  50% {
    background-color: #FF7F00;
  }

  75% {
    background-color: #FF4300;
  }

  99% {
    background-color: #FF0015;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes angel {
  0% {
    transform: scale(0) translateY(0);
  }

  10% {
    transform: scale(0.3) translateY(-3rem);
  }

  25% {
    transform: scale(1) translateY(-7rem);
  }

  50% {
    transform: scale(1.2) translateY(-16rem);
  }

  75% {
    transform: scale(1.5) translateY(-25rem);
  }

  80% {
    transform: scale(2) translateY(-29rem);
  }

  95% {
    transform: scale(2.5) translateY(-32rem);
  }

  100% {
    transform: scale(4) translateY(-50rem);
  }
}

button {
  border: 0.4rem solid lighten($gray, 10%);
  border-radius: 5rem;
  color: $gray;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
}

.start-game {
  display: none;

  .touch & {
    display: block;
    margin: 1rem auto 0 auto;
    padding: 2rem;
  }
}

.undo-btn {
  position: absolute;
  top: 19rem;
  right: 12rem;
  display: none;
  padding: .8rem;
  z-index: 101;

  .touch & {
    display: block;
  }
}

/* Gradients */
.bg_image {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sky-gradient {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    width: 4%;
    height: 100%;
  }

  &-00,
  &-24 {
    background: #00000c;
  }

  &-01 {
    background: linear-gradient(to bottom, #020111 85%, #191621 100%);
  }

  &-02 {
    background: linear-gradient(to bottom, #020111 60%, #20202c 100%);
  }

  &-03 {
    background: linear-gradient(to bottom, #020111 10%, #3a3a52 100%);
  }

  &-04 {
    background: linear-gradient(to bottom, #20202c 0%, #515175 100%);
  }

  &-05 {
    background: linear-gradient(to bottom, #40405c 0%, #6f71aa 80%, #8a76ab 100%);
  }

  &-06 {
    background: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%);
  }

  &-07 {
    background: linear-gradient(to bottom, #757abf 0%, #8583be 60%, #eab0d1 100%);
  }

  &-08 {
    background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%);
  }

  &-09 {
    background: linear-gradient(to bottom, #94c5f8 1%, #a6e6ff 70%, #b1b5ea 100%);
  }

  &-10 {
    background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
  }

  &-11 {
    background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 100%);
  }

  &-12 {
    background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
  }

  &-13 {
    background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%);
  }

  &-14 {
    background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%);
  }

  &-15 {
    background: linear-gradient(to bottom, #2473ab 0%, #1e528e 70%, #5b7983 100%);
  }

  &-16 {
    background: linear-gradient(to bottom, #1e528e 0%, #265889 50%, #9da671 100%);
  }

  &-17 {
    background: linear-gradient(to bottom, #1e528e 0%, #728a7c 50%, #e9ce5d 100%);
  }

  &-18 {
    background: linear-gradient(to bottom, #154277 0%, #576e71 30%, #e1c45e 70%, #b26339 100%);
  }

  &-19 {
    background: linear-gradient(to bottom, #163C52 0%, #4F4F47 30%, #C5752D 60%, #B7490F 80%, #2F1107 100%);
  }

  &-20 {
    background: linear-gradient(to bottom, #071B26 0%, #071B26 30%, #8A3B12 80%, #240E03 100%);
  }

  &-21 {
    background: linear-gradient(to bottom, #010A10 30%, #59230B 80%, #2F1107 100%);
  }

  &-22 {
    background: linear-gradient(to bottom, #090401 50%, #4B1D06 100%);
  }

  &-23 {
    background: linear-gradient(to bottom, #00000c 80%, #150800 100%);
  }
}
